---
import Page from '../layouts/Page.astro';
---

<Page>
    <h1>Cadets</h1>
    <p>
        Cadets are the future of the RAF. They are the ones who will serve the country and protect its citizens.
    </p>
    <p>
        Cadets are the ones who will serve the country and protect its citizens.
    </p>
    <p>
        Cadets are the ones who will serve the country and protect its citizens.
    </p>
</Page>