---
import Page from '../layouts/Page.astro';
---

<Page>
    <h1>What We Do</h1>
    <p>
        We do a lot of things.
    </p>
    <p>
        We do a lot of things.
    </p>
    <p>
        We do a lot of things.
    </p>
</Page>