---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/">
			<img src="/src/assets/images/logo.jpg" alt="RAFAC Logo" />
		</a>
		<div class="internal-links">
			<HeaderLink href="/joinUs">Join Us!</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/cadets">Cadets</HeaderLink>
			<HeaderLink href="/whatWeDo">What We Do</HeaderLink>
		</div>
	</nav>
	
</header>
<style>

	header {
		background-color: var(--rafDarkBlue);
	}

	nav {
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	.internal-links {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}
</style>
